@charset "UTF-8";
/* Body */
body {
	font-family: Helvetica, sans-serif;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	min-width: 1500px;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	width: 100%;
	height: 50px;
	background-color: #AB0C2F;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 175px;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}

.copyright {
	text-align: center;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #888B8D;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

#intro {
	margin-top: 0px;
}

.profile {
	width: 150px;
}

.column {
	width: 45%;
	text-align: center;
	float: left;
}

#intro-text {
	margin-top: 50px;
}

#melting-point-sim {
	display: none !important;
}

#tlc-sim {
	display: none !important;
}

#irspec-sim {
	display: none !important;
}

.simulation-container {
	display: inline-block;
	margin-top: 40px;
	width: 100%;
	height: 500px;
}

.explainer {
	position: relative;
	margin-left: 13%;
	margin-right: 10px;
	margin-top: 35px;
	width: 350px;
	float: left;
	height: inherit;
}

.UI {
	position: relative;
	margin-left: 35px;
	width: 20%;
	float: left;
	height: inherit;
}

#mp-information {
	width: 225px;
	margin-left: 10px;
	border: 1px solid black;
}

.info {
	padding-left: 5px;
}

#mp-controls {
	width: 100px;
	margin-left: 10px;
	margin-top: 30px;
}

.gfx-container {
	height: inherit;
	width: 25%;
	float: left;
}

#mp-image-container {
	position: relative;
  	height: 400px;
	float: right;
	margin-right: 25px;
}

#endImage {
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 3;
	opacity: 0;
	height: 100%;
}

#startImage {
	height: 100%;
}

.coming-soon {
	height: 100%;
}

.coming-soon-container {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	height: 300px;
	width: 300px;
	margin-top: 100px;
}